.item {
  transition: color .3s, background-color .3s;
  background-color: #cc9;
  padding: 8px 16px;
  background-color: #FAEEA4;
}

.item + .item {
  margin-top: 1em;
}

.variant {
  cursor: pointer;
}

.result {
  background-color: transparent;
}

.selectedResult {
  font-weight: 700;
}

.correctResult {
  color: #090;
}

.incorrectResult {
  color: #999;
}

.incorrectResult.selectedResult {
  color: #f00;
}
